# Processing specific ignores
.DS_Store
applet/
application.linux/
application.linux32/
application.linux64/
application.windows/
application.windows32/
application.windows64/
application.macosx/
build/
*.class
.idea/
GEMINI.md